#EXT_SPOTIFYCL {
  width: 100%;
  height: 100%;
  text-shadow: black 5px 5px 5px;
  font-size: 18px;
  color: #EEE;
  font-weight: normal;
  top: 0;
  left: 0;
  position: fixed;
}

#EXT_SPOTIFYCL.pausing {
  filter:brightness(50%) grayscale(75%);
}

#EXT_SPOTIFYCL_BACKGROUND {
  background-size: cover;
  background-position: center center;
  filter: blur(16px) opacity(50%) grayscale(33%);
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
}

#EXT_SPOTIFYCL_BACKGROUND.hidden {
  display: none;
}

#EXT_SPOTIFYCL_CONTENT {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#EXT_SPOTIFYCL_DISPLAY {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}

#EXT_SPOTIFYCL_DISPLAY.vertical {
  flex-direction: column;
}

#EXT_SPOTIFYCL_CONTROLBOX {
  flex: 1 1 auto;
  margin-bottom: 20px;
}

#EXT_SPOTIFYCL_PLAYING {
  flex: 0 0 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px;
}

#EXT_SPOTIFYCL_PLAYING.vertical {
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 auto;
}

#EXT_SPOTIFYCL_LYRICS {
  flex: 1 1 auto;
  text-align: center;
  contain: strict;
  color: gray;
  margin: 15px;
}

#EXT_SPOTIFYCL_LYRICS.vertical {
  margin-top: 50px;
}

#EXT_SPOTIFYCL_LINE {
  font-size: 1.5em;
}

#EXT_SPOTIFYCL_LINE.active {
  font-size: 2em;
  color: #eee;
  font-weight: bold;
}

#EXT_SPOTIFYCL_LINE.hidden {
  display:none
}

#EXT_SPOTIFYCL_VIDEO {
  flex: 0 0 20%;
  height: 85vh;
  box-sizing: border-box;
  object-fit: fill;
  margin: 5px;
}

#EXT_SPOTIFYCL_CANVAS {
  height: 85vh;
  width: 27vw;
}

#EXT_SPOTIFYCL_CANVAS.vertical {
  filter: blur(3px) opacity(50%) grayscale(33%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

#EXT_SPOTIFYCL_CANVAS.hidden {
  display: none;
}

#EXT_SPOTIFYCL_PROGRESS_BAR {
  position: relative;
  width: 100%;
  height: 5px;
  border: 0px transparent;
  margin-bottom: 5px;
}

progress[value]#EXT_SPOTIFYCL_PROGRESS_BAR::-webkit-progress-value {
  background-color: #FFF;
}

progress[value]#EXT_SPOTIFYCL_PROGRESS_BAR::-webkit-progress-bar {
  background-color: #666;
}

#EXT_SPOTIFYCL_TIME {
  display: flex;
  font-size: 1em;
}

#EXT_SPOTIFYCL_TIMECURRENT {
  flex: 1;
  margin-left: 10px;
}

#EXT_SPOTIFYCL_TIMEEND {
  margin-right: 10px;
}

#EXT_SPOTIFYCL_COVER {
  width: 98%;
  margin: 5px;
  display: flex;
}

#EXT_SPOTIFYCL_COVER.fade-in {
  animation: fadeInOpacity 1s 1;
  animation-timing-function: linear;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#EXT_SPOTIFYCL_TITLE {
  margin-left: 20px;
  font-size: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#EXT_SPOTIFYCL_ARTIST {
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#EXT_SPOTIFYCL_LOGO {
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#EXT_SPOTIFYCL_CTRLS {
  display: flex;
}

#EXT_SPOTIFYCL_CTRL1,
#EXT_SPOTIFYCL_CTRL3 {
  flex: 1 1 auto;
  margin-top: 10px;
  padding: 16px;
  width: 300px;
}

#EXT_SPOTIFYCL_CTRL2 {
  display: flex;
}

#EXT_SPOTIFYCL_SHUFFLE,
#EXT_SPOTIFYCL_PREVIOUS,
#EXT_SPOTIFYCL_REPEAT,
#EXT_SPOTIFYCL_NEXT {
  margin: 10px;
  padding: 16px;
  display: flex;
}

#EXT_SPOTIFYCL_PLAY {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;

  padding: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 32px;
  display: flex;
}

#EXT_SPOTIFYCL_VOLUME {
  display: flex;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
}

#EXT_SPOTIFYCL_VOLUMEICON {
  place-self: flex-end;
  display: flex;
}

#EXT_SPOTIFYCL_VOLUMEVALUE {
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  height: 8px;
  width: 30%;
  border: 0px transparent;
}

#EXT_SPOTIFYCL_VOLUMEVALUE.vertical {
  width: 150px;
}

progress[value]#EXT_SPOTIFYCL_VOLUMEVALUE::-webkit-progress-value {
  background-color: #1db954;
}

progress[value]#EXT_SPOTIFYCL_VOLUMEVALUE::-webkit-progress-bar {
  background-color: #666;
}

#EXT_SPOTIFYCL_SPEAKER {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: medium;
}

#EXT_SPOTIFYCL_SPEAKERICON {
  place-self: flex-start;
  display: flex;
}

#EXT_SPOTIFYCL_SPEAKERNAME {
  margin: 5px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** popup panel **/
:root {
    --panel-background-color: #000;
    --panel-box-shadow: 0 0 4px rgba(204, 204, 204, 0.75);
    --panel-width: 160px;
    --panel-text-color: #fff;
    --panel-text-color: #fff;
    --panel-hover-item-background-color: #000;
    --panel-icon-width: 13px;
    --panel-separator-color: #dfe3eb;
}

/* the pannel */
.jspanel {
    box-sizing: border-box;
    position: absolute;
    z-index: 1001;
    background-color: var(--panel-background-color, #fff);
    box-shadow: var(--panel-box-shadow, 0 0 4px rgba(204, 204, 204, 0.75));
    border-radius: 5px;
    padding: 10px 0;
    width: fit-content;
    min-height: 50px;
    height: auto;
    visibility: visible; /* important */
    opacity: 90%;
}

/* Never change the visibility of the sign by yourself. */
.jspanel.panel-hidden {
    visibility: hidden;
}

/* the list of items */
.jspanel .container-items {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* for each item */
.jspanel button {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding: 0 20px;
    color: var(--panel-text-color, #404040);
    background-color: transparent;
    display: flex;
    align-items: center;
}

.jspanel button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.jspanel button:hover {
    background-color: var(--panel-hover-item-background-color, #f4f6fa);
    color: var(--panel-hover-item-color, #385074);
}

.jspanel button:focus {
    outline: none;
}

/* the title of the item */
.jspanel button span {
    pointer-events: none;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    display: flex;
    width: 100%;
    text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: medium;
}

/* img is an `icon`, i is a `fontawesome_icon` */
.jspanel button img,
.jspanel button i {
    pointer-events: none;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    margin-right: 10px;
}

/* the icon */
.jspanel button img {
    width: var(--panel-icon-width, 13px);
    height: auto;
}

/* for each separator */
.jspanel .jspanel-separator {
    height: 1px;
    width: 100%;
    margin: 8px 0;
    background-color: var(--panel-separator-color, #dfe3eb);
}
